# User-specific files
*.user
*.suo
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Secrets and environment-specific files
.env
appsettings.Development.json
.claude
.clinerules
.vscode
.project_context
backend/docs/

# Rider files
.idea/

# wwwroot folder
wwwroot/

# Mac files
.DS_Store

# Windows files
Thumbs.db